div.klasa1
{
    text-align: center; background-color: #c0c0c0
}

div.klasa2
{
   text-align: center; background-color: #ffff99;
}

div.klasa3
{
    text-align: right; background-color: #800000;
}

div.klasa4
{text-align: left; background-color: #ff99ff;}



h1
{color: #ff0000;}
h2
{
    color: #008000;
}
h3
{
    color: #008080;
}
h4
{
    color: #800080;
}




i.klasa1i6
{color: #00ff00;}
i.klasa2i7
{color: #00ffff;}
i.klasa3i8
{color: #808000;}
i.klasa4i9
{color: #0000ff;}

